@import "../../../assets/scss/root";
@import "../../../assets/scss/mixin";
/* ----------------------
* Testimonial Section
---------------------------*/
.testimonials-box {
  .t-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    p {
      font-size: 27px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 40px;
      @include down-sm {
        font-size: 24px;
      }
    }
    .t-lead {
      margin-top: auto;
      h6 {
        margin: 0 0 4px;
      }
      span {
        font-weight: 14px;
        opacity: 0.75;
      }
    }
  }
}

.testimonials-brand {
  margin-top: 80px;
  padding-top: 20px;
  border-top: 1px solid rgba(var(--g-white-rgb), 0.1);
}
