.px-btn {
  padding: 15px 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary-light);
  color: var(--g-primary-text);
  text-decoration: none;
  border-radius: 10px;
  transition: ease all 0.35s;
  font-weight: 500;
  outline: none;
  box-shadow: none;
  border: none;
  // background: linear-gradient(90deg, var(--c-primary-light) 0%, var(--c-primary-dark) 100%), var(--c-white);
  background: var(--c-primary-dark);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--c-white);

  i {
    margin-left: 10px;
  }

  &:hover {
    color: var(--c-white);
    background-size: 200% 100%;
  }
  &.dark {
    background: var(--c-bg-dark);
    color: var(--c-white);
    &:hover {
      background: var(--c-white);
      color: var(--c-bg-dark);
    }
  }
}
