.bg-blue {
  // background: linear-gradient(270.16deg, var(--c-primary-dark) 5.74%, var(--c-primary-light) 92.05%);
  background: linear-gradient(
    270.16deg,
    var(--c-primary-dark) 5.74%,
    var(--c-primary-light) 92.05%
  );
}

.bg-dark {
  // background: linear-gradient(177deg, #100E24 0%, #030211 190%);
  background: linear-gradient(
    177deg,
    var(--c-bg-light) 0%,
    var(--c-bg-dark) 190%
  );
}

.bg-dark-blue {
  background: var(--c-bg-dark);
  border-left: 2px solid var(--c-primary-dark);
}
