:root {
	--bs-heading-color: var(--g-heading);
}

:root, 
[data-bs-theme=light] {
	
	--g-primary:	#{$g-primary};
	--g-primary-dark:	#{$g-primary-dark};

	--g-primary-rgb: 254,178,178;

	--g-secondary:	#{$g-secondary};
	--g-secondary-dark:	#{$g-secondary-dark};
	
	--g-white:	#{$g-white};
	--g-white-rgb:	255,255,255;
	

	--g-text:	#{$g-text};
	--g-heading:	#{$g-heading};
	
	--g-bg:	#{$g-bg};
	--g-dark:	#{$g-dark};
}

[data-bs-theme=dark] {
	--bs-body-color: #adb5bd;
}