<button
  appAnimateHover
  animationHover="rubberBand"
  class="px-btn p-2 btn-dark"
  (click)="toggleSwitch()"
>
  <!-- Change theme -->
  <!-- <a href="https://www.flaticon.com/free-icons/tooth" title="tooth icons"
    >Tooth icons created by Freepik - Flaticon</a
  > -->
  @if (currentTheme != "none") {
    <img
      [src]="
        'assets/img/icons/' +
        (currentTheme === 'halloween' ? 'light.svg' : 'halloween.svg')
      "
      width="32px"
      height="32px"
      [class]="currentTheme"
    />
  }
</button>
