@import "../../../../assets/scss/root";
@import "../../../../assets/scss/mixin";
/* ----------------------
* Work Section
---------------------------*/
.work-box {
  display: flex;
  flex-wrap: wrap;

  & .work-img {
    cursor: pointer;
    flex: 0 0 50%;
    width: 50%;
    overflow: hidden;
    @include down-sm {
      flex: 0 0 100%;
      width: 100%;
    }

    img {
      transition: ease all 0.34s;
      transform: scale(1);
      object-fit: fill;
      width: 100%;
      height: auto;
    }
  }
  & .work-text {
    flex: 0 0 50%;
    width: 50%;
    padding-left: 20px;
    padding-right: 8%;
    display: flex;
    flex-direction: column;

    @include down-sm {
      flex: 0 0 100%;
      width: 100%;
      padding: 20px 0 0;
    }

    & h4 {
      font-size: 30px;
      font-weight: 700;
      @include down-sm {
        font-size: 24px;
      }
      a {
        color: var(--c-white);
      }
    }

    & h5 {
      font-size: 24px;
      font-weight: 500;
      @include down-sm {
        font-size: 24px;
      }
      a {
        color: var(--c-white);
      }
    }
    & .btn-bar {
      margin-top: auto;
      a {
        width: 35px;
        height: 35px;
        color: var(--c-white);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        line-height: 1;
        cursor: pointer;
        &:hover {
          color: var(--c-primary-light);
        }
      }
    }
  }
  &:hover {
    & .work-img {
      img {
        transform: scale(1.2);
      }
    }
  }
}
.section-heading {
  @include down-md {
    margin-top: 64px;
  }
}

.mt-4 {
  margin-top: 32px;
}
.mt-8 {
  margin-top: 64px;
}
