<dialog
  #baseDialog
  [@openClose]="isOpen ? 'open' : 'closed'"
  [ngClass]="{
    'dialog body-scroll': !messageInfoType,
    'info-message-type': messageInfoType,
  }"
  [style.max-width]="maxWidth"
>
  <div #dialogContent>
    <div class="dialog__header">
      <h1 class="dialog__header--title">{{ titleModal }}</h1>
    </div>
    @if (showCloseButton) {
      <button class="dialog__header--close" (click)="closeDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    }

    <ng-content></ng-content>
  </div>
</dialog>
