<div class="container">
    <div class="section-heading">
        <h6>My Service</h6>
        <h2>My Specialties</h2>
    </div>
    
    <div class="accordion accordion-flush" id="accordion_services">
        <div class="accordion-item" *ngFor="let item of services; let i = index; let f = first">
            <div class="accordion-header">
                <div id="accordion">
                    <button class="accordion-button" type="button"
                            [attr.data-bs-toggle]="'collapse'"
                            [attr.data-bs-target]="'#flush-collapse-' + i"
                            [attr.aria-expanded]="f"
                            [attr.aria-controls]="'flush-collapse-' + i">
                        <span class="services-title">{{item.title}}</span>
                        <span class="services-small-desc">{{item.description | truncate: 100 : '...'}}</span>
                        <span class="accordion-icon"></span>
                    </button>
                </div>
                
            </div>
            <div id="{{'flush-collapse-'+i}}" class="accordion-collapse collapse {{f ? 'show': ''}}" data-bs-parent="#accordion_services">
                <div class="accordion-body">
                    <div class="row gy-4">
                        <div class="col-sm-6 col-md-4">
                            <div class="s-img">
                                <img src="assets/img/services-5.jpg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h3>{{item.title}}</h3>
                            <div class="white-text">
                                {{item.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
