<div class="container">
    <div class="section-heading text-center text-lg-start">
        <h6>Nice to meet you!</h6>
        <h2>Welcome to...</h2>
    </div>
    <div class="row gy-4">
        <div class="col-lg-5">
            <div class="about-left">
                <div class="about-avatar">
                    <img src="assets/img/me/not-looking.jpg" title="" alt="">
                </div>
                <h3>Romario</h3>
                <p>Unity Developer <span>|</span> Front End Developer <span>|</span> Concept Artist</p>
                <div class="btn-bar">
                    <a class="px-btn bg-dark-blue" href="javascript:">
                        Download CV <i class="bi-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <div class="about-bio">
                <p>
                    With nine years of experience as a Front End developer, I possess a proven record of delivering top-notch web 
                    applications across diverse sectors like technology, agriculture, editorial, and finance. My enthusiasm for 
                    the gaming industry has driven me to create personal games utilizing C#, Unity, and Photoshop. I thrive on 
                    challenges and am actively seeking opportunities to further enhance my skills and contribute my expertise to the gaming industry.
                </p>
            </div>
            <div class="about-contact row gx-lg-5">
                <div class="col-sm-12">
                    <p><i class="bi-envelope"></i> <span>romarioestrada.ff@hotmail.com</span> </p>
                </div>
                <div class="col-sm-12">
                    <p><i class="bi-map"></i> <span>Colombia, Bogotá</span> </p>
                </div>
            </div>
            <div class="about-exp">
                <!-- <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>9+</h6>
                            <span>Years<br>experience...</span>
                        </div>
                        <p class="lead">I am a front end developer and Unity developer, I'm very passionate and dedicated to my work.</p>
                    </div>
                </div> -->
                <blockquote>
                    <i class="fa-solid fa-quote-left"></i>
                    <p>“My passion for the video games industry has led me to develop my own games using C#, Unity, and Photoshop. I am constantly seeking new challenges and opportunities to expand my skills, and I am eager to bring my expertise to the next level in the gaming industry.”</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>