<div #scene class="scene relative">
  <!-- Title -->
  <div class="container absolute top-0 z-3">
    <div class="row">
      <div class="col-12">
        <p class="title">COIN COLLECTOR</p>
      </div>
    </div>
    <div class="score">
      Score: <span>{{ coinCount }}</span>
    </div>
  </div>

  <!--  -->
  <div class="container absolute top-0 z-2">
    <!-- Language section -->
    <app-language-switch />
    <div class="row">
      <div class="col-12">
        <canvas #canvas></canvas>
      </div>
    </div>
  </div>

  <div class="container z-0">
    <div data-depth="0.2" class="absolute top-0">
      <img src="assets/img/game/bg-01-01.png" alt="" srcset="" />
    </div>
    <div data-depth="0.3" class="absolute top-0">
      <img src="assets/img/game/bg_m1-01.png" alt="" srcset="" />
    </div>
    <div data-depth="0.4" class="absolute top-0">
      <img src="assets/img/game/bg_l1-01.png" alt="" srcset="" />
    </div>
    <div data-depth="0.5" class="absolute top-0">
      <img src="assets/img/game/bg_l2-01.png" alt="" srcset="" />
    </div>
    <div data-depth="0.6" class="absolute top-0">
      <img src="assets/img/game/bg_l3-01.png" alt="" srcset="" />
    </div>
    <div data-depth="0.7" class="absolute top-0">
      <img src="assets/img/game/bg_l4-01.png" alt="" srcset="" />
    </div>
    <div data-depth="0.8" class="absolute top-0">
      <img src="assets/img/game/bg_l5-01.png" alt="" srcset="" />
    </div>
  </div>
</div>
<!-- Sounds -->
<app-sound #coinSound path="assets/sounds/coin_catch.mp3" />
<app-sound #jumpSound path="assets/sounds/jump.mp3" />
