<canvas #canvas></canvas>
<div style="position: absolute; top: 10px; left: 10px; font-size: 20px">
  Coins collected: {{ coinCount }}
</div>

<div class="controller-cord"></div>
<div class="controller-outer-box">
  <div class="controller-cord-connection"></div>
  <div class="controller-inner-box">
    <div class="left-inner-box">
      <div class="up-down-outer-box"></div>
      <div class="left-right-outer-box"></div>
      <div class="up-down-inner-shadow"></div>
      <div class="left-right-inner-shadow"></div>
      <div class="up-down-inner-box">
        <div class="up-arrow"></div>
        <div class="down-arrow"></div>
      </div>
      <div class="left-right-inner-box">
        <div class="left-arrow"></div>
        <div class="center-circle"></div>
        <div class="right-arrow"></div>
      </div>
    </div>
    <div class="center-inner-box">
      <div class="center-decorative-box" id="one"></div>
      <br />
      <div class="center-decorative-box" id="two"></div>
      <br />
      <div class="center-decorative-box" id="three">
        <div class="select-start-text">SELECT START</div>
      </div>
      <div class="center-button-box">
        <div class="center-button-box-inner-border">
          <div class="left-button"></div>
          <div class="right-button"></div>
        </div>
      </div>
      <br />
      <div class="center-decorative-box" id="four"></div>
    </div>
    <div class="right-inner-box">
      <div class="system-text">Funtendo</div>
      <br />
      <div class="b-a-buttons-container">
        <div class="b-button-container">
          <div class="b-button-outer-box">
            <div class="b-button"></div>
          </div>
          <div class="b-button-text">B</div>
        </div>
        <div class="a-button-container">
          <div class="a-button-outer-box">
            <div class="a-button"></div>
          </div>
          <div class="a-button-text">A</div>
        </div>
      </div>
    </div>
  </div>
</div>
