@import "../assets/scss/mixin";
.switch {
  position: absolute;
  display: inline-block;
  width: 101px;
  top: 32px;
  right: 32px;
  margin: 0 5px;
  z-index: 112;

  @include down-lg {
    top: 16px;
    left: 14px;
    right: inherit;
  }

  & span {
    position: absolute;
    top: 8px;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;

    &.on {
      left: 0;
      padding-left: 2px;
      color: var(--g-secondary);
    }
    &.off {
      right: 0;
      padding-right: 4px;
      color: #fff;
    }
  }

  & .check-toggle {
    position: absolute;
    // margin-left: -9999px;
    visibility: hidden;
    & + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

input {
  &.check-toggle-round-flat:checked ~ .off {
    color: var(--g-secondary);
  }
  &.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  &.check-toggle-round-flat {
    &:checked + label:after {
      margin-left: 44px;
    }

    & + label {
      padding: 2px;
      width: 101px;
      height: 35px;
      background-color: var(--g-secondary);
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      border-radius: 60px;
    }

    & + label:before,
    + label:after {
      display: block;
      position: absolute;
      content: "";
    }

    & + label:before {
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      background-color: var(--g-secondary);
      // -webkit-

      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      border-radius: 60px;
    }

    & + label:after {
      top: 4px;
      left: 4px;
      bottom: 4px;
      width: 48px;
      background-color: #fff;
      -webkit-border-radius: 52px;
      -moz-border-radius: 52px;
      -ms-border-radius: 52px;
      -o-border-radius: 52px;
      border-radius: 52px;
      -webkit-transition: margin 0.2s;
      -moz-transition: margin 0.2s;
      -o-transition: margin 0.2s;
      transition: margin 0.2s;
    }
  }
}
