<div class="container">
    <div class="row gy-5">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6>Experience</h6>
                <h2>My experience</h2>
                <p>Hello there! My name is Romario. Passionate about creating visually appealing and intuitive
                    user interfaces, I am a skilled front-end developer with a
                    dedication to staying up-to-date with the latest industry
                    trends and technologies. With expertise in crafting responsive designs and optimizing website performance, I am
                    committed to making a positive impact on the digital
                    landscape.</p>
                <div class="btn-bar">
                    <a class="px-btn dark" href="javascript:">
                        Download my resume <i class="bi-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <ul class="resume-box">
                <li>
                    <div class="r-meta">
                        <span>-2023 - Present</span>
                        <label>-Front End developer</label>
                    </div>
                    <h5>Consultant</h5>
                </li>
                <li>
                    <div class="r-meta">
                        <span>-2017 - 2018</span>
                        <label>-UI/UX Designer</label>
                    </div>
                    <h5>Senior UI/UX Designer</h5>
                </li>
                <li>
                    <div class="r-meta">
                        <span>-2015 - 2017</span>
                        <label>-Jr. UI/UX Designer</label>
                    </div>
                    <h5>Web Design and Developer</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
