/* You can add global styles to this file, and also import other style files */
/*------------------------------------------------------------------
Project:    Romario Personal Portfolio
Version:    1.0
Primary use:    pxdraft

[Table of contents]

1. Body
2. Header
3. Footer
4. Blog
5. Section
6. Home Banner
7. About
8. Services
9. Portfolio
10. Testimonial
11. Contact Us

-------------------------------------------------------------------*/
// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@import "assets/vendor/font-awesome/css/all.min.css";

@import "assets/scss/root";
@import "assets/scss/mixin";
@import "assets/scss/header";
@import "assets/scss/footer";
@import "assets/scss/button";
@import "assets/scss/color";
@import "assets/scss/base";
@import "assets/scss/style";
@import "assets/scss/helper";

// // Functions first
// @import "../node_modules/bootstrap/scss/functions";

// // Required Bootstrap imports
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/variables-dark";
// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";

// // Optional components
// @import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/helpers";
// @import "../node_modules/bootstrap/scss/utilities/api";

a,
button {
  cursor: pointer;
}
