<div class="bubbles" style="z-index: 0">
  <!-- <div class="bubble" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]"></div> -->
  <div
    class="bubble-no-bg"
    *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]"
  ></div>
</div>
<div
  class="container animate__animated animate__bounceInLeft"
  style="z-index: 1; position: relative"
>
  <div class="row min-vh-100 align-items-center">
    <div class="col-lg-7 col-xl-7 col-xxl-6">
      <div class="hb-text">
        <h1>{{ "Home.title" | translate }} <b></b> <span> Romario...</span></h1>
        <p class="lead">
          <span
            >{{ "Home.work" | translate }} <br />
            {{ "Home.work2" | translate }} <span class="hearth">❤</span>
            <br /><br
          /></span>
          {{ "Home.work3" | translate }} <span>Colombia</span>
        </p>
        <div class="btn-bar">
          <a class="px-btn" href="#about">
            {{ "Home.work4" | translate }} <i class="bi-arrow-down-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="me" [style.display]="'none'">
  <!-- cool pink bubbles  -->
  <div class="hb-me animate__animated animate__fadeIn animate__delay-1s">
    <div class="pink-bubbles">
      <svg viewBox="0 0 120 200">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur" />
            <feColorMatrix
              in="blur"
              mode="matrix"
              values="
                            1 0 0 0 0  
                            0 1 0 0 0  
                            0 0 1 0 0  
                            0 0 0 13 -9"
              result="goo"
            />
            <!-- <xfeBlend in="SourceGraphic" in2="goo" /> -->
          </filter>
          <path
            id="wave"
            d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z"
          />
        </defs>

        <!-- <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use> 
                <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use> -->

        <g class="gooeff" filter="url(#goo)">
          <circle class="drop drop1" cx="20" cy="2" r="8.8" />
          <circle class="drop drop2" cx="25" cy="2.5" r="7.5" />
          <circle class="drop drop3" cx="16" cy="2.8" r="9.2" />
          <circle class="drop drop4" cx="18" cy="2" r="8.8" />
          <circle class="drop drop5" cx="22" cy="2.5" r="7.5" />
          <circle class="drop drop6" cx="26" cy="9.8" r="9.2" />
          <circle class="drop drop1" cx="5" cy="4.4" r="8.8" />
          <circle class="drop drop2" cx="5" cy="4.1" r="7.5" />
          <circle class="drop drop3" cx="8" cy="3.8" r="9.2" />
          <circle class="drop drop4" cx="3" cy="4.4" r="8.8" />
          <circle class="drop drop5" cx="7" cy="4.1" r="7.5" />
          <circle class="drop drop6" cx="10" cy="4.3" r="9.2" />

          <circle class="drop drop1" cx="1.2" cy="5.4" r="8.8" />
          <circle class="drop drop2" cx="5.2" cy="5.1" r="7.5" />
          <circle class="drop drop3" cx="10.2" cy="5.3" r="9.2" />
          <circle class="drop drop4" cx="3.2" cy="5.4" r="8.8" />
          <circle class="drop drop5" cx="14.2" cy="5.1" r="7.5" />
          <circle class="drop drop6" cx="17.2" cy="4.8" r="9.2" />
          <!-- <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" /> -->
        </g>
        <!-- <g mask="url(#xxx)">
                    <path   id="wave1"  class="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
                </g> -->
      </svg>
    </div>
  </div>

  <!-- Pink circle -->
  <div
    class="hb-me hb-me animate__animated animate__fadeIn"
    style="background-image: url(assets/img/me/bg-pink.avif)"
  ></div>

  <!-- Portrait -->
  <div
    class="hb-me animate__animated animate__fadeInUp"
    style="background-image: url(assets/img/me/me.avif)"
  ></div>

  <!-- Social buttons -->
  <div class="social-fix">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/raef26/"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="https://www.behance.net/romarioestrada/services" target="_blank"
        ><i class="fab fa-behance"></i
      ></a>
      <a href="https://www.fiverr.com/romarioestrada" target="_blank"
        ><i class="fa-solid fa-briefcase"></i
      ></a>
      <a href="https://github.com/romaefGit" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
</div>

<div class="me">
  <app-roma />
  <!-- Social buttons -->
  <div class="social-fix">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/raef26/"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="https://www.behance.net/romarioestrada/services" target="_blank"
        ><i class="fab fa-behance"></i
      ></a>
      <a href="https://www.fiverr.com/romarioestrada" target="_blank"
        ><i class="fa-solid fa-briefcase"></i
      ></a>
      <a href="https://github.com/romaefGit" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
</div>
