<div class="container">
    <div class="row  min-vh-100 align-items-center">
        <div class="col-lg-7 col-xl-7 col-xxl-6">
            <div class="hb-text">
                <h1>My name <br>is <b></b> <span> Romario...</span></h1>
                <p class="lead"><span>Unity Developer | Front End developer </span> based in <span>Colombia</span></p>
                <div class="btn-bar">
                    <a class="px-btn"  href="#contact">
                        Work with me <i class="bi-arrow-up-right"></i>
                    </a>
                </div>
                <div class="info-bar">
                    <p><i class="bi-phone"></i> <span>+57 310 375 7285</span></p>
                    <p><i class="bi-envelope"></i> <span>romarioestrada.ff@hotmail.com</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hb-me" style="background-image: url(assets/img/home-banner.png);"></div>
<div class="social-fix">
    <div class="social-links">
        <a href="javascript:"><i class="fab fa-dribbble"></i></a>
        <a href="javascript:"><i class="fab fa-instagram"></i></a>
        <a href="javascript:"><i class="fab fa-facebook"></i></a>
    </div>
</div>